body {
    box-sizing: border-box;
    background-color: #EEE;
    font-family: system-ui;
  }

  h1 {
    text-align: center;
  }

  h3 {
    text-align: center;
  }
  
  div {
    display: flex;
    column-gap: 10px;
    flex-wrap: wrap;
  }

  p {
    text-align: justify;
    text-justify: inter-word;
  }

  #introduction {
    background-color: white;
    padding: 1em;
    flex-basis: 100%;
    margin-top: 1em;
    margin-bottom: 1em;
  }
  
  @media (max-width: 500px) {
    div {
      display: block;
    }
  }

  .visualizations {
    justify-content: center;
    display: flex;
    align-items: center;
  }
  
  article {
    background-color: white;
    text-align: center;
    padding: 2em;
    flex-basis: 27%;
    margin-top: 1em;
    margin-bottom: 1em;
  }
  
  .area {
    fill: lightsteelblue;
  }

  .dot {                           /*Configures the dots of the line*/
    fill: rgb(159, 180, 197);
    stroke: steelblue;
    stroke-width: 1.5px;
  }

  line {                           /*Configures the line*/
    stroke: rgb(221, 221, 221);
    stroke-dasharray: 1.5;
  }